<article id="content-{{post.ID}}" {{post_class(['content', 'content-'~post.post_type])}}>
	<a href="{{post.link}}">
	{% if post.thumbnail.src %}
		<img src="{{post.thumbnail.src}}" alt="Image: {{post.title}}" class="img-responsive center-block">
	{% else %}
		<img src="http://placehold.it/800x250&text={{post.title}}" alt="Image: {{post.title}}" class="img-responsive center-block">
	{% endif %}
	</a>
	
	<h2 class="h2"><a href="{{post.link}}">{{post.title}}</a></h2>
	<p>{{post.get_preview}}</p>
</article>