{% if post.get_comments()|length %}
<section id="comments">
	<div class="panel panel-default widget">
	    <div class="panel-heading">
	        <h3 class="panel-title">
	        	<span class="glyphicon glyphicon-comment"></span>
	        	{{sprintf(_n('One Response to &ldquo;%2$s&rdquo;', '%1$s Responses to &ldquo;%2$s&rdquo;', get_comments_number(), 'roots'), number_format_i18n(get_comments_number()), get_the_title())}}
	        </h3>
	    </div>
	    <div class="panel-body">
	        <ul class="media-list">
				{% for cmt in post.get_comments() %}
					{% include "parts/comment.twig" with {comment:cmt} %}
				{% endfor %}
	        </ul>
	    </div>
	</div>
</section>
{% endif %}
		
{% if comments_open() %}
<section id="respond">
	<div class="panel panel-default widget">
	    <div class="panel-heading">
	        <h3 class="panel-title">
	        	{{comment_form_title(__('Leave a Reply'), __('Leave a Reply to %s'))}}
	        	<span class="cancel-comment-reply">{{cancel_comment_reply_link()}}</span>
	        </h3>
	    </div>
	    <div class="panel-body">
			{% if get_option('comment_registration') and not is_user_logged_in() %}
				<p>{{sprintf(__('You must be <a href="%s">logged in</a> to post a comment.'), wp_logout_url(get_permalink()))}}</p>
			{% else %}
				<form action="{{site.url}}/wp-comments-post.php" method="post" id="commentform">
					{% if is_user_logged_in() %}
						<p>
							{{sprintf(__('Logged in as <a href="%s/wp-admin/profile.php">%s</a>.'), site.url, user_identity)}}
							<a href="{{wp_logout_url(get_permalink())}}" title="{{__('Log out of this account')}}">{{__('Log out &raquo;')}}</a>
						</p>
					{% else %}
						<div class="form-group">
							 <label for="author">{{__('Name')~__(' (required)')}}</label>
							<input type="text" class="form-control" name="author" id="author" value="{{comment_author()}}" size="22" aria-required="true">
						</div>
						<div class="form-group">
							 <label for="email">{{__('Email (will not be published)')~__(' (required)')}}</label>
							<input type="email" class="form-control" name="email" id="email" value="{{comment_author_email()}}" size="22" aria-required="true">
						</div>
						<div class="form-group">
							 <label for="url">{{__('Website')}}</label>
							<input type="url" class="form-control" name="url" id="url" value="{{comment_author_url()}}" size="22">
						</div>
					{% endif %}
					
					<div class="form-group">
						<label for="comment">{{__('Comment')}}</label>
						<textarea name="comment" id="comment" class="form-control" rows="5" aria-required="true"></textarea>
					</div>
					
					<p><input name="submit" class="btn btn-primary" type="submit" id="submit" value="{{__('Submit Comment')}}"></p>
					
					{{comment_id_fields()}}
					{% do action('comment_form', post.id) %}
				</form>
			{% endif %}
	    </div>
	</div>
</section>
{% endif %}